.report-container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}

.header {
  margin-top: 50px;
  /* justify-content:center; */
}
.form-container {
  padding: 10px;
  background: rgb(60, 109, 129);
  background: linear-gradient(
    0deg,
    rgb(60, 109, 129, 1) 36%,
    rgba(78, 143, 169, 1) 72%
  );
  border: solid 10px white;
  border-radius: 30px;
  box-shadow: 5px 10px 10px gainsboro;
  color: white;
  font-weight: bold;
  font-size: larger;
}

.form-questions {
  display: flex;
  margin-top: 20px;
}

.form-option {
  display: flex;
  margin: 5px 0;
  align-items: center;
}

.area {
  background-color: grey;
}

.indoorbuttongp {
  width: 100%;
}
.auto_complete_list {
  cursor: pointer;
}
.text {
  text-align: center;
  margin-top: 5px;
}
.auto-item {
  border-bottom: 3px solid;
  padding: 8px;
}
