.parking_marker {
  background-color: blanchedalmond;
}
.marker:hover {
  background-color: #e0fce1;
  color: white;
  transform: scaleX(1.1);
  border: 0px;
  z-index: 100;
}
.marker-hover {
  border: 5px solid #7699a7;
  background-color: #7699a7;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 13; */
  font-weight: bold;
  margin-top: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-in;
  transform: scaleX(1);
}
.repair-marker-hover {
  border: 3px solid rgb(226, 100, 71);
  background-color: rgb(226, 100, 71);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 13; */
  font-weight: bold;
  margin-top: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-in;
  transform: scaleX(1);
}
.repair {
  border: 3px solid rgb(226, 100, 71);
  background-color: white;
  border-radius: 10px;
  color: #f44336;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13;
  font-weight: bold;
  margin-top: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-in;
  transform: scaleX(1);
  z-index: (200) !important;
}
.marker {
  border: 3px solid #7699a7;
  background-color: white;
  border-radius: 10px;
  color: #3f51b5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 5px;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s ease-in;
  transform: scaleX(1);
  z-index: (200) !important;
}
.marker-description {
  position: static;
  border: solid white;
  border-radius: 10px;
  background-color: white;
  color: rgb(60, 109, 129);
  width: 30vw;
  height: 20vh;
  z-index: 50;
}
.marker-description-container {
  position: static;
}
.marker-text {
  text-align: center;
  text-justify: center;
}
.search-box {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: start;
  padding: 5px 0px 5px 5px;
}
.search-box-title {
  margin-left: 5px;
}
.map-auto-list {
  padding: 10px;
  border-bottom: 1px rgba(60, 109, 129, 1) solid;
  cursor: pointer;
}
.topContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(60, 109, 129, 1);
}
.map-button {
  border-radius: 50%;
}
#btn {
  background-color: rgb(27, 82, 27);
  border-color: rgb(27, 82, 27);
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  color: white;
  margin-right: 5px;
  margin-bottom: 10px;
}

#back-btn {
  background-color: rgb(217, 171, 75);
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  color: white;
  margin-left: 5px;
  margin-bottom: 10px;
}
#btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h1 {
  text-align: center;
  padding-left: 0;
}
#opening {
  color: green;
}
#close {
  color: red;
}
img {
  margin-top: 5px;
  width: 20vh;
  display: inline;
}

.fontASBtn {
  width: 100px;
  color: white;
  background-color: rgba(60, 109, 129, 1);
  cursor: pointer;
  padding: 5px 0px 5px 0px;
}

.fontASBtn:hover {
  width: 100px;
  color: white;
  background-color: rgba(60, 109, 129, 0.8);
}
#comment {
  padding: 5px;
}
.input-box {
  width: 75vw;
}

.search-box-title {
  color: rgba(60, 109, 129, 1);
  font-weight: bold;
}
.marker-text {
  font-size: 16px;
  font-weight: bold;
}
