.fa-icon {
	color: white;
}

body {
	font-size: large;
	color: white;
}

.button {
	background-color: white;
	color: black;
}

h1 {
	font-size: x-large;
	font-weight: bold;
	color: rgb(60, 109, 129);
	padding-top: 20px;
	padding-left: 20px;
	text-align: start;
}

h2 {
	font-size: large;
	color: white;
	text-align: start;
	font-weight: bold;
}

h3 {
	font-size: smaller;
	color: rgb(255, 255, 255, 0.8);
	text-align: start;
}

.cell {
	background-color: rgba(215, 171, 75, 0.9);
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.8) !important;
	border-width: 8px !important;
	border-radius: 15px;
	padding-top:10px;
}
.cell:hover {
	background-color: rgb(226, 100, 71);
}
.towIcon {
	text-align: start;
	padding-top: 20px;
	color: white;
}

.outer-container {
	margin-bottom: 100px;
}
